/* GOOGLE FONTS - Poppins 400, 500 and 800*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  /* 10px / 16px = 0.625 */
  font-size: 62.5%;
}

body {
  background: var(--aussie-red-61);
}

/* VARIABLES */
:root {
  --gray-96: hsl(0, 0%, 96%);
  --gray-10: hsl(0, 0%, 10%);
  --yellow-sun-62: hsl(44, 100%, 62%);
  --aussie-red-61: hsl(1, 80%, 61%);
}

/* (2) - Navbar style for desktop */
.navbar {
  width: 100%;
  height: 80px;
  background: var(--gray-10);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__container {
  width: 124rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.2rem;
}

.logo {
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 3.2rem;
  letter-spacing: -0.02em;
  color: var(--gray-96);
  text-decoration: none;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
}

.navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 0;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease-out;
}

.navbar__link:link,
.navbar-_link:visited {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: var(--gray-96);
}

.navbar__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:link,
.button:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1.6rem;
  border: none;
  outline: none;
  background-color: var(--yellow-sun-62);
  color: var(--gray-10);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: -0.02em;
  cursor: pointer;
  border-radius: 3rem;
  transition: all 300ms ease-in;
  text-decoration: none;
}

.navbar__item:hover,
.navbar__item:active {
  border-bottom: 2px solid var(--gray-96);
  transition: all 300ms ease-out;
}

.button:hover,
.button:active {
  background-color: var(--aussie-red-61);
  color: var(--gray-96);
  transition: all 300ms ease-out;
}

/* (4) - Navbar style for tablet and mobile */
.menu__icon-menu {
  color: var(--gray-96);
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

.menu__toggle {
  display: none;
}

/* Below 834px */
@media (max-width: 52.125em) {
  .navbar {
    position: relative;
    z-index: 3;
  }

  .navbar__container {
    padding: 0 4rem;
  }

  .navbar__menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.8rem;
    position: absolute;
    top: 8rem;
    left: -100%;
    background-color: var(--gray-10);
    width: 100%;
    height: calc(100vh - 8rem);
    padding: 7.6rem 4rem;
    opacity: 0;
    transition: all 500ms ease-in;
  }

  .navbar__menu.active {
    left: 0;
    opacity: 1;
    transition: all 500ms ease-out;
  }

  .menu__toggle {
    display: block;
  }
}

/* (6) - Some adjustments for mobile */
@media screen and (max-width: 24em) {
  .navbar__container {
    padding: 0 2rem;
  }
}